.search_body {
	width: 961px;
	background: rgba(218, 229, 227, 0.9);
	height: 1342px;
    /* 1015px for patrons*/
    /* 1342px for hosts*/ 
}

.column {
	float: center;
	width: 50%;
}

#sign_up {
	font-family: Rajdhani;
	font-style: normal;
	font-weight: 600;
	font-size: 120px;
	width: 1493px;
	line-height: 153px;
}

.sign_buttons {
	width: 241px;
	height: 70px;
	left: 271px;
	top: 706px;
	margin-left: 155px;
	background: #FFFFFF;
	border-radius: 35px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #000000;
}

.progressive {
	width: 227px;
	height: 64px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	float: right;
	margin: 65px 30px;
	color: #000000;
	background: #FFFFFF;
	border-radius: 15px;
}

.signtext {
	padding-left: 65px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

.sign_input {
	width: 865px;
	height: 57px;
	padding-left: 24px;
	background: #FFFFFF;
	border: 0.25px solid #000000;
	box-sizing: border-box;
	margin-left: 40px;
	margin-top: 25px;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
}

.sign_input_half {
	width: 383px;
	height: 57px;
	background: #FFFFFF;
	border: 0.25px solid #000000;
	padding-left: 24px;
	font-family: Roboto;
	margin: 0 55px;
	margin-left: 40px;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	box-sizing: border-box;
	border-radius: 10px;
}

 ::placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	color: #828282;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	color: #828282;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	color: #828282;
}