.login_text{
    position: absolute;
    width: 492px;
    height: 47.33px;
    left: 277px;
    top: 363px;
    background: #FFFFFF;
    border: 0.25px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
